doctype html
html
    head
        style
            include st.css

    body

        div
            block cont

        div.footer
            p
                | CAR SHOP TEAM
                br
                a(href=site) OUR WEB SITE



